<div id="divMenu" class="rem">
    <nav id="nav" class="ftPerfil">
        <img src="/fts/<%=image%>" onclick="window.location.href='/perfil/?token=<%=token%>'">
    </nav>
    <section>
        <img class="back" src="/img/logo.png">
        <div id="esq">
            <div id="divForm" class="divForm mob">

                <label for="form" id="cad"><span class="max"> Quer receber dicas de como ter uma vida sustentável?</span><br><br><br></label>
                <form id="form" action="/newUser" method="post">
                    <input type="text" id="nome" name="nome" placeholder="Nome..." required> <br>
                    <input type="email" id="email" name="email" placeholder="Email..." required> <br>
                    <input type="password" id="senha" name="senha" placeholder="Senha..." required> <br>
                    <input type="submit" value="Cadastrar">
                    <br><br>
                    <label><span class="min link" id="muda">Já possui cadastro? Faça login</span></label>
                </form>

                <label for="form2" id="log" class="ocult"><span class="max"> Conecte-se </span><br><br><span class="min"> Bem vindo de volta ;-) </span><br><br><br></label>
                <form id="form2" action="/login" method="post" class="ocult">
                    <input type="email" id="email" name="email" placeholder="Email..." required> <br>
                    <input type="password" id="senha" name="senha" placeholder="Senha..." required> <br>
                    <input type="submit" value="Login">
                    <br><br>
                    <label><span class="min link" id="muda2">Não possui cadastro? Inscreva-se</span></label>
                </form>
                
                
            </div>
        </div>

        <div id="dir">
            <div class="topicos">
                <ul>
                    <li class="lf"><a href="/vidaSustentavel?token=<%=token%>">- Vida Sustentável</a>
                        <!--<ul>
                            <li> <a href="/vidaSustentavel?token=<%=token%>#estVdSus"> Estilo de Vida Sustentável </a> </li>
                            <li> <a href="/vidaSustentavel?token=<%=token%>#pqVdSus"> Devo Praticar? </a> </li>
                            <li> <a href="/vidaSustentavel?token=<%=token%>#cmVdSus"> Como adotar? </a> </li>
                        </ul>-->
                    </li>
                </ul>
                <ul>
                    <li class="lf"><a href="/impactos?token=<%=token%>">- Impactos Ambientais</a>
                        <!--<ul>
                            <li> <a href="/impactos?token=<%=token%>#prinIA"> Pirncipais Impactos </a> </li>
                            <li> <a href="/impactos?token=<%=token%>#dimiIA"> Como diminuir </a> </li>
                            <li> <a href="/impactos?token=<%=token%>#euIA"> Minhas ações? </a> </li>
                        </ul>-->
                    </li>
                </ul>
                <ul>
                    <li class="lf"><a href="/sustentabilidade?token=<%=token%>">- Sustentabilidade</a>
                        <!--<ul>
                            <li> <a href="/sustentabilidade?token=<%=token%>#trpSus"> Tripé </a> </li>
                            <li> <a href="/sustentabilidade?token=<%=token%>#tpSus"> Tipos </a> </li>
                            <li> <a href="/sustentabilidade?token=<%=token%>#bnSus"> Benefícios </a> </li>
                            <li> <a href="/sustentabilidade?token=<%=token%>#exSus"> Exemplos </a> </li>
                        </ul>-->
                    </li>
                </ul>
                <ul>
                    <li class="lf"><a href="/ds?token=<%=token%>">- DS Sustentável</a>
                    </li>
                </ul>
                <ul>
                    <li class="lf"><a href="/TIverde?token=<%=token%>">- TI verde</a>
                        <!--<ul>
                            <li> <a href="/TIverde?token=<%=token%>#pqTI"> Por Que? </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#bnTI"> Benefícios </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#cmTI"> Como começar </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#emTI"> Empresas TI verde </a> </li>
                        </ul>-->
                    </li>
                </ul>
                <% if (nome == "") { %>
                <ul class="cadmob">
                    <li class="lf"><a href="/cadmob?token=<%=token%>">- Cadastro/login</a>
                        <!--<ul>
                            <li> <a href="/TIverde?token=<%=token%>#pqTI"> Por Que? </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#bnTI"> Benefícios </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#cmTI"> Como começar </a> </li>
                            <li> <a href="/TIverde?token=<%=token%>#emTI"> Empresas TI verde </a> </li>
                        </ul>-->
                    </li>
                </ul>

                <% } %>
            </div>
        </div>
        
        
    </section>
    

</div>