<!DOCTYPE html>
<html lang="pt-br">
    
    <%- include("./header.ejs"); %>

        <main id="main">
            <div id="principal" class="blc">
                <div class="divPerfil">
                    
                    <form action="/update" method="POST" enctype="multipart/form-data">
                        <input type="file" name="ft" id="ft">
                        <img src="/fts/<%=image%>" name="foto" class="perfilFt" accept = "image/png, image/jpeg"/> <br>
                        <input type="text" name="nome" value="<%= nome %>">
                        <input type="text" name="email" value="<%= email %>">
                        <input type="hidden" name="token" value="<%=token%>">
                        <input type="submit" value="Alterar dados">
                    </form>
                    
                    <hr>
                    <form action="/delet" method="POST">
                        <input type="hidden" name="token" value="<%=token%>">
                        <input type="submit" name="apagar" class="nop" value="Apagar conta">
                    </form><br>
                    <button name="deslogar" class="nop" onclick="window.location.href='/deslog'"> Deslogar </button><br><br>
                </div>
            </div>
            
            <%- include("./menu.ejs"); %>
            
        </main>

        <!-- Script do axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <%- include("./scripts.ejs"); %>

    </body>

</html>