<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./header.ejs"); %>
        <main id="main">
            <div id="principal" class="blc">
                
                <section class="ctr">
                    <label>
                        <h1> Quem Somos? </h1>
                        <p>Somos a Green Life. Uma equipe universitária com o intuito de divulgar as questões sobre a
                            vida sustentável e seus demais tópicos ligados a sustentabilidade.
                        </p>

                        <p>Nosso intuito é alertar as gerações atuais, pois afetam diretamente nossas gerações futuras
                            através da exploração de recursos naturais, buscando valores não só ambientais mas
                            econômicos também.
                        </p>

                        <img class="banner" src="/img/icone.png" alt="Imagem Quem Somos?">

                        <h2 id="mis">Missão</h2>

                        <p> Disponibilizar acesso à informações voltadas a sustentabilidade e seus diversos tópicos, servindo como uma fonte para auxiliar a integração das
                            pessoas em um estilo de vida prático e sustentável, proporcionando dicas e soluções acerca de como iniciar o seu caminho para a sustentabilidade.
                        </p>

                        <h2 id="vis">Visão</h2>

                        <p>Nos tornar referência tecnológica na oferta de informações úteis e relevantes
                            através de fontes confiáveis, também como disponibilizar produtos e serviços para a
                            sociedade. Com um olhar a fundo sobre os impactos que as práticas humanas podem gerar futuramente caso ações preventivas não sejam irrestritamente aderidas, a Green Life busca agregar com mudanças sutis e amplas para a conscientização da
                            população em relação ao meio ambiente.
                        </p>

                        <h2 id="val">Valores</h2>

                        <p>
                            <ul>
                                <li>Sustentável</li>
                                <li>Proteção e respeito ao meio ambiente</li>
                                <li>Bem do mundo</li>
                                <li>Para as pessoas</li>
                                <li>Bem-estar</li>
                            </ul>
                        </p>
                    </label>
                </section>
            </div>
            <%- include("./menu.ejs"); %>
        </main>
    </body>

    <article>
        <div class="icons">
            <img src="/img/inst.jpeg" onclick="window.location.href='https:\/\/www.instagram.com/greenlifesustentavel'" alt="instagram">
            <img src="/img/email.png" onclick="window.location.href='https:\/\/mailto:greenlifesustentavel@gmail.com'" alt="email">
        </div>
    </article>
    <footer class="blc" id="footer"> 
        <div id="back-wave">
            
        </div>
        <label>Green Life<br><br>
            <label class="foot_mob">
                <span><a href="/qs?token=<%=token%>">Quem Somos?</a></span><br>
                <span><a href="/qs?token=<%=token%>#mis">Missão</a></span>
                <span><a href="/qs?token=<%=token%>#vis">Visão</a></span>
                <span><a href="/qs?token=<%=token%>#val">Valores</a></span>
            </label> <br><br>
            <label class="fale">
                <span> Fale Conosco: </span>
                <br><br>
                <span><a href="https://www.instagram.com/greenlifesustentavel">Instagram</a></span>
                <span><a href="https://mailto:greenlifesustentavel@gmail.com">Email</a></span>
                <span><a href="tel:(380)946917200">Telefone</a></span>
                <span><a href="https://wa.me/+380946917200">Whatsapp</a></span>
            </label>
        </label>
    </footer>
    <%- include("./scripts.ejs"); %>
</html>