<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./header.ejs"); %>

        <main id="main">
            <div id="principal" class="blc">
                <img class="banner" src="/img/bannerSustentabilidade.jpeg" alt="Imagem Impactos Ambientais">
                <section class="ctr">
                    <label>

                        <h1> O que é Sustentabilidade </h1>

                        <p>"Sustentabilidade refere-se ao princípio da busca pelo equilíbrio entre a disponibilidade dos recursos naturais e a exploração deles por parte da sociedade. Ou seja, visa a equilibrar a preservação do meio ambiente e o que ele pode oferecer em consonância com a qualidade de vida da população
                        </p>

                        <p>O termo sustentabilidade surge da necessidade de discussão a respeito da forma como a sociedade vem explorando e usando os recursos naturais, pensando em alternativas de preservá-lo evitando, assim, que esses recursos se esgotem na natureza. A definição de sustentabilidade está atrelada ao conceito de desenvolvimento sustentável.
                        </p>

                        <p> Atualmente, muito é comentado sobre desenvolvimento sustentável, visto o despertar de consciência da sociedade como um todo para a ideia de que os recursos naturais não são infinitos como muitos pensavam. As inúmeras discussões por parte da comunidade científica acerca das questões relacionadas ao meio ambiente e sua intensa degradação por parte da ação antrópica também colocaram esse termo em evidência."</p>

                        <h2 id="trpSus"> Tripé da Sustentabilidade </h2>

                        <p> O chamado tripé da sustentabilidade é baseado em três princípios: o social, o ambiental e o econômico. Esses três fatores precisam ser integrados para que a sustentabilidade de fato aconteça. Sem eles, a sustentabilidade não se sustenta.
                        </p>

                        <p>Também conhecido como triple bottom line, o tripé da sustentabilidade foi criado em 1994 pelo empresário britânico John Elkington, que, por suas ações no campo do desenvolvimento empresarial, ficou mundialmente conhecido como “pai da sustentabilidade”.
                        </p>

                        <img src="/img/sustentabilidade.jpg" alt="[imagem]sustentabilidade: ">

                        <h2 id="tpSus"> Tipos de Sustentabilidade </h2>

                        <p>Os impactos ambientais podem ser diminuídos através de ações individuais e  coletivas, bem como por meio de leis e políticas ambientais. Algumas ações que podem ser feitas, são elas: 
                        </p>

                        <p> <ol>
                            <li> Sustentabilidade Ambiental: A Sustentabilidade ambiental abrange a conservação e a manutenção do meio ambiente. O objetivo da sustentabilidade ambiental é que os interesses das gerações futuras não estejam comprometidos pela satisfação das necessidades da geração atual.
                            </li>
                            <li> Sustentabilidade Social: A sustentabilidade social sugere a igualdade dos indivíduos, baseado no bem-estar da população, para isso, é necessária a participação da população, com intuito de fortalecer as propostas de desenvolvimento social, acesso à educação, cultura e saúde. </li>
                            <li> Sustentabilidade Econômica: A sustentabilidade econômica é fundamentada num modelo de gestão sustentável. Isso implica na gestão de adequada dos recursos naturais, que objetivam o crescimento econômico, o desenvolvimento social e melhoria da distribuição de renda. Em resumo, corresponde à capacidade de produção, de distribuição e de utilização das riquezas produzidas pelo homem, buscando uma justa distribuição de renda.
                            </li>
                        </ol> </p>

                        <h2 id="bnSus"> Quais são os principais benefícios da sustentabilidade? </h2>

                        <p> As ações sustentáveis permitem que as próximas gerações possam viver em um mundo mais equilibrado, onde as empresas e a pessoas consigam evoluir sem causar tantos danos aos ecossistemas e sem prejudicar o futuro do planeta, dos nossos filhos e netos. Um fator importante para isso acontecer seria a educação ambiental, tema que tem sido falado cada vez mais nas mídias e escolas, ensinando principalmente, para os jovens, que estamos inseridos no meio ambiente, dependemos dos recursos para viver e esses recursos não são eternos. Dessa forma, práticas sustentáveis são essenciais para o futuro da humanidade. 
                        </p>

                        <h2 id="exSus"> Exemplos de ações de ações para sustentabilidade individual, comunitária e global:
                        </h2>

                        <p> <ul>
                            <li> Economizar água (individual)
                            </li>
                            <li> Implantar um sistema de esgoto na comunidade (comunitária)
                            </li>
                            <li> Garantia de alimentação a longo prazo (global)
                            </li>
                            <li> Preservação da biodiversidade e dos ecossistemas (global)
                            </li>
                            <li> Diminuição do consumo de energia (global)
                            </li>
                            <li> Criação de áreas protegidas (global)
                            </li>
                            <li> Reciclagem (individual e comunitária)
                            </li>
                            <li> Reduzir o uso de sacolas plásticas (individual)
                            </li>
                        </ul> </p>
                        

                    </label>
                </section>
            </div>

            <%- include("./menu.ejs"); %>

        </main>

    </body>

    <article>
        <div class="icons">
            <img src="/img/inst.jpeg" onclick="window.location.href='https:\/\/www.instagram.com/greenlifesustentavel'" alt="instagram">
            <img src="/img/email.png" onclick="window.location.href='https:\/\/mailto:greenlifesustentavel@gmail.com'" alt="email">
        </div>
    </article>

    <footer class="blc" id="footer"> 
        <div id="back-wave">
            
        </div>
        <label>Green Life<br><br>
            <label class="foot_mob">
                <span><a href="/qs?token=<%=token%>">Quem Somos?</a></span><br>
                <span><a href="/qs?token=<%=token%>#mis">Missão</a></span>
                <span><a href="/qs?token=<%=token%>#vis">Visão</a></span>
                <span><a href="/qs?token=<%=token%>#val">Valores</a></span>
            </label> <br><br>
            <label class="fale">
                <span> Fale Conosco: </span>
                <br><br>
                <span><a href="https://www.instagram.com/greenlifesustentavel">Instagram</a></span>
                <span><a href="https://mailto:greenlifesustentavel@gmail.com">Email</a></span>
                <span><a href="tel:(380)946917200">Telefone</a></span>
                <span><a href="https://wa.me/+380946917200">Whatsapp</a></span>
            </label>
        </label>
    </footer>

    <%- include("./scripts.ejs"); %>
</html>