<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./header.ejs"); %>

        <main id="main">
            <div id="principal" class="blc">
                <img class="banner" src="/img/bannerTIverde.png" alt="Imagem TI verde">
                <section class="ctr">
                    <label>

                        <h1> O que é a TI verde? </h1>

                        <p>A expressão TI verde vem do inglês, Green IT, e refere-se a um
                            movimento global na área de Tecnologia da Informação, em prol da
                            redução dos efeitos do consumo de tecnologia nas cadeias produtivas e
                            ecossistemas.
                        </p>

                        <p>O conceito envolve um conjunto de práticas mais ecológicas, entre elas o
                            armazenamento em nuvem, a melhora no consumo de energia, a
                            modernização de equipamentos para aumentar sua vida útil e o
                            estabelecimento de uma política eficiente de descarte.
                        </p>

                        <p> Em um contexto mais amplo, portanto, a TI verde faz parte de um
                            movimento de conscientização sobre a gravidade da situação climática e a
                            necessidade de reestruturação das cadeias produtivas, desde a extração
                            de matéria-prima até o descarte de materiais – contribuindo para
                            a criação de uma economia circular e regenerativa.</p>

                        <p> Ao longo do tempo, os avanços tecnológicos sempre exigiram muita
                            resiliência dos ecossistemas terrestres. Isso vem desde a era das grandes
                            máquinas nas fábricas industriais até os computadores, periféricos e
                            componentes eletrônicos da era digital.
                        </p>

                        <p>O impacto, é claro, é diferente. Mas faz parte do esforço atual de combate
                            às mudanças climáticas implementar medidas ainda mais arrojadas para
                            recuperar o tempo perdido.
                        </p>

                        <p>Um estudo da Gartner que data de 2007 estima que a indústria de TI era
                            responsável por cerca de 2% das emissões de dióxido de carbono (CO 2 )
                            na atmosfera. Como o principal protagonista destes números está o altoconsumo de energia decorrente do processo de produção de
                            equipamentos.</p>

                        <p>É claro que o progresso tecnológico nos ajuda a descobrir soluções que
                            também preservam o meio ambiente. Mas um dado tão evidente quanto
                            esse é também uma oportunidade clara de redução da pegada
                            tecnológica.</p>

                        <p>Para além disso, diante de todo o movimento do mundo empresarial em
                            direção aos critérios ESG, adotar boas práticas de sustentabilidade nos
                            departamentos de TI passou a ser um compromisso estratégico de toda a
                            organização.</p>

                        <img src="/img/TIverde.png" alt="[imagem]TI verde: ">

                        <h2 id="bnTI"> Quais são os benefícios da TI Verde? </h2>

                        <p>Além da questão da ética ambiental, existe o retorno econômico de ter
                            uma gestão sustentável do seu setor de TI, o que torna a estratégia
                            interessante para organizações de todos os tipos e tamanhos. 
                        </p>

                        <p>É natural que empresas com orçamento mais modesto tenham
                            dificuldade em implementar iniciativas verdes, afinal, é necessário um
                            investimento inicial. Mas ao passo que as ações vão sendo realizadas, os
                            ganhos de eficiência, produtividade e redução de custos são evidentes.
                            Essa economia gera fôlego no caixa para novas melhorias.</p>

                        <p>Dito isso, para as empresas menores, consolidar essas práticas
                            sustentáveis, mesmo em pequena e microescala, prepara o terreno para
                            modificações maiores de acordo com o desenvolvimento dessas
                            organizações.</p>

                        <p>Além disso, ter uma TI verde é um posicionamento estratégico forte, que
                            sinaliza ao mercado capacidade da empresa em compreender os novos
                            valores da sociedade. O “selo” representa ainda uma valorização de
                            produtos ou serviços, melhorando a reputação da organização e servindo
                            como um chamariz aos olhos de investidores;</p>

                        <p>Em resumo, dentre as vantagens de uma TI verde estão:</p>

                        <p> <ul>
                            <li> Redução dos gastos do energia com um consumo mais inteligente
                            </li>
                            <li> Liberação de espaço físico com servidores na nuvem </li>
                            <li> Redução de custos com servidores locais e com outros
                                equipamentos
                            </li>
                            <li>Modernização de equipamentos e extensão do prazo de
                                manutenção</li>
                            <li>Ganhos de desempenho e produtividade</li>
                            <li>Valorização da marca, imagem e reputação</li>
                        </ul> </p>

                        <p>Você viu aqui que uma TI verde pode colaborar para melhorar a
                            reputação da sua organização, certo? Por que não caminhar na direção da
                            criação de um sistema produtivo sustentável?
                            Na hora de fechar negócio, tenha um olhar cuidadoso para sua cadeia
                            produtiva. Prefira fornecedores e parceiros que estão alinhados com o
                            posicionamento da sua empresa e valorizem as boas práticas ambientais.
                            Exemplo de empresas que aderiram a TI Verde:</p>

                        <p> <ul>  <!--- class no-list-->
                            <li> Google
                                <!-- <img src="/img/google.png" class="icones_emp"> 
                                <a href="https://www.flaticon.com/br/icones-gratis/google" title="google ícones">Google ícones criados por pictogramer - Flaticon</a> -->
                            </li>
                            <li> Dreamstime
                            </li>
                            <li> Cisco
                            </li>
                            <li> Ericsson
                            </li>
                            <li> Fujitsu
                            </li>
                            <li> Sprint
                            </li>
                            <li> Wipro
                            </li>
                            <li> Alcatel-Lucent
                            </li>
                            <li> HP
                            </li>
                            <li> Vodafone
                            </li>
                            <li> IBM
                            </li>
                            <li> Dell
                            </li>
                            <li> Microsoft
                            </li>
                            <li> SAP
                            </li>
                            <li> AT&T
                            </li>
                            <li> HCL
                            </li>
                            <li> NTT
                            </li>
                            <li> NEC
                            </li>
                            <li> TCS
                            </li>
                            <li> Oracle
                            </li>
                        </ul> </p>
                        
                        <p>A TI verde é um bom negócio para os departamentos de Tecnologia da
                            Informação, para as empresas, para os investidores e, é claro, para o
                            planeta.</p>

                    </label>
                </section>
            </div>

            <%- include("./menu.ejs"); %>

        </main>

    </body>

    <article>
        <div class="icons">
            <img src="/img/inst.jpeg" onclick="window.location.href='https:\/\/www.instagram.com/greenlifesustentavel'" alt="instagram">
            <img src="/img/email.png" onclick="window.location.href='https:\/\/mailto:greenlifesustentavel@gmail.com'" alt="email">
        </div>
    </article>

    <footer class="blc" id="footer"> 
        <div id="back-wave">
            
        </div>
        <label>Green Life<br><br>
            <label class="foot_mob">
                <span><a href="/qs?token=<%=token%>">Quem Somos?</a></span><br>
                <span><a href="/qs?token=<%=token%>#mis">Missão</a></span>
                <span><a href="/qs?token=<%=token%>#vis">Visão</a></span>
                <span><a href="/qs?token=<%=token%>#val">Valores</a></span>
            </label> <br><br>
            <label class="fale">
                <span> Fale Conosco: </span>
                <br><br>
                <span><a href="https://www.instagram.com/greenlifesustentavel">Instagram</a></span>
                <span><a href="https://mailto:greenlifesustentavel@gmail.com">Email</a></span>
                <span><a href="tel:(380)946917200">Telefone</a></span>
                <span><a href="https://wa.me/+380946917200">Whatsapp</a></span>
            </label>
        </label>
    </footer>

    <%- include("./scripts.ejs"); %>
</html>