<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./header.ejs"); %>

        <main id="main">
            <div id="principal" class="blc">
                <img class="banner" src="/img/bannerVidaSustentavel.png" alt="Imagem Vida Sustentavel">
                <section class="ctr">
                    <label>

                        <h1> Vida Sustentável </h1>

                        <p>Muito se discute sobre a importância da adoção de uma vida sustentável e os melhores caminhos para a salvação do planeta. Sabe-se que à medida em que os anos se passam, os impactos ambientais aumentaram gradativamente, trazendo consequências para o mundo. Pensando na atual realidade muitos indivíduos aderirem o estilo de vida sustentável que tenta reduzir o consumo dos recursos naturais do nosso planeta. Os praticantes desse estilo visam conduzir suas vidas de forma consistente com a sustentabilidade, o equilíbrio natural e o respeito com o meio ambiente. </p>

                        <p> Esse estilo de vida pode ser encontrado em pequenas ações no dia a dia tais como: </p>

                        <p> <ul>
                            <li> Economia de água; </li>
                            <li> Evitar o uso de sacolas plásticas </li>
                            <li> Reduzir o consumo de carne; </li>
                            <li> Preferir por utilizar produtos biodegradáveis; </li>
                            <li> Separação do lixo para coleta seletiva; </li>
                            <li> Realizar trajetos curtos através de caminhadas ou bicicletas. </li>
                        </ul> </p>

                        <h2 id="estVdSus"> O que é um estilo de vida sustentável? </h2>

                        <p> Mas então, qual é o verdadeiro conceito de vida sustentável? Bom, na realidade, a vida sustentável é um estilo de vida com o objetivo de minimizar o impacto que uma pessoa causa ao meio ambiente a longo prazo através da mudança de diversos hábitos e costumes que diminuem a sua demanda por recursos naturais, a fim de tornar o meio ambiente e o ecossistema mais habitável para as gerações futuras. </p>

                        <p> Nesse sentido, começar a praticar um estilo de vida que contribua para a sustentabilidade, evitando consumo e desperdício excessivo de recursos naturais, pode não só ajudar a evitar os impactos negativos ao meio ambiente, mas também é uma das melhores maneiras de garantir uma melhor qualidade de vida. </p>

                        <h2 id="pqVdSus"> Por que praticar a vida sustentável? </h2>

                        <p> É bastante óbvio que o esgotamento de recursos naturais, o aquecimento global, as crises climáticas, a poluição da água e do solo e a destruição da camada de ozônio são problemas reais com consequências devastadoras para não só o meio ambiente, mas também a vida humana e podem se tornar irreversíveis caso não sejam resolvidos o quão antes possível. Por isso, é necessário alterar o seu estilo de vida de maneira que reduza a sua emissão de carbono e o seu impacto ambiental. Isso pode trazer vários benefícios como a preservação da natureza e seus recursos, uma melhor qualidade de vida e saúde para a população, a redução de desastres naturais, entre outros. </p>

                        <p> Realizar tarefas simples como economizar energia, optar por usar o transporte público ou bicicleta com mais frequência, reciclar, já podem ajudar muito a reduzir o seu impacto ambiental e, consequentemente, tornar o meio ambiente mais habitável. </p>

                        <h2 id="cmVdSus"> Como adotar um estilo de vida sustentável? </h2>

                        <img src="/img/vdSustentavel.jpg" alt="[imagem]Como ter uma vida sustentavel: ">

                        <p> Quando a maioria das pessoas pensam em adotar um estilo de vida sustentável, elas também tendem a levar em imaginar que suas ações serão irrelevantes para ajudar na preservação do meio ambiente, porém, este pensamento não leva em consideração o impacto de outras pessoas que também estão praticando a vida sustentável. É por este motivo que, além de cobrar as empresas e governos para que façam a sua parte, é extremamente importante que cada um de nós cumpra seu papel, reconsiderando nossos hábitos para que possamos diminuir o nosso efeito no meio ambiente. </p>

                        <p> Mas então, diante de tudo isto, você deve estar se perguntando como você pode começar a praticar um estilo de vida sustentável. Bem, assim como a sustentabilidade, os hábitos que podem ser tomados para praticar a vida sustentável são bastante amplos, por isso, organizamos uma lista de dicas sobre o que você pode fazer para diminuir o seu impacto no meio ambiente e adotar um estilo de vida sustentável: </p>
                    </label>
                </section>
            </div>

            <%- include("./menu.ejs"); %>

        </main>

    </body>

    <article>
        <div class="icons">
            <img src="/img/inst.jpeg" onclick="window.location.href='https:\/\/www.instagram.com/greenlifesustentavel'" alt="instagram">
            <img src="/img/email.png" onclick="window.location.href='https:\/\/mailto:greenlifesustentavel@gmail.com'" alt="email">
        </div>
    </article>

    <footer class="blc" id="footer"> 
        <div id="back-wave">
            
        </div>
        <label>Green Life<br><br>
            <label class="foot_mob">
                <span><a href="/qs?token=<%=token%>">Quem Somos?</a></span><br>
                <span><a href="/qs?token=<%=token%>#mis">Missão</a></span>
                <span><a href="/qs?token=<%=token%>#vis">Visão</a></span>
                <span><a href="/qs?token=<%=token%>#val">Valores</a></span>
            </label> <br><br>
            <label class="fale">
                <span> Fale Conosco: </span>
                <br><br>
                <span><a href="https://www.instagram.com/greenlifesustentavel">Instagram</a></span>
                <span><a href="https://mailto:greenlifesustentavel@gmail.com">Email</a></span>
                <span><a href="tel:(380)946917200">Telefone</a></span>
                <span><a href="https://wa.me/+380946917200">Whatsapp</a></span>
            </label>
        </label>
    </footer>

    <%- include("./scripts.ejs"); %>
</html>